# Database Connection
DATABASE_URL="mongodb://localhost:27017/starter"

# Authentication
NEXTAUTH_SECRET="super-secret"
NEXTAUTH_URL="http://localhost:3000"

# URLs
APP_URL="http://localhost:3000"

# Optional: Add any additional environment-specific configurations
# SOME_API_KEY="your-api-key"
# ANOTHER_SECRET="another-secret"